{% load i18n unfold %}

<div class="border-t border-base-200 px-4 py-3 dark:border-base-800">
    <div class="flex flex-col gap-3 items-center w-full lg:flex-row">
        {% translate "No, take me back" as default_cancel_label %}
        {% component "unfold/components/button.html" with href="#" variant="default" class="cancel-link w-full lg:mb-0 lg:w-auto" %}
            {{ cancel_label|default:default_cancel_label }}
        {% endcomponent %}

        <div class="w-full lg:ml-auto lg:w-auto">
            {% component "unfold/components/button.html" with submit=1 variant=variant|default:"primary" icon=icon name=submit_name class=submit_class %}
                {{ label }}
            {% endcomponent %}

            {% if tooltip %}
                <span class="js-disabled-btn-tooltip disabled-btn-tooltip js-filer-tooltip filer-tooltip-wrapper"
                      title="{{ tooltip }}" tabindex="-1">
                    {% component "unfold/components/button.html" with href="#" variant=variant|default:"primary" class="cursor-not-allowed opacity-50 w-full lg:w-auto" %}
                        {{ label }}
                    {% endcomponent %}
                </span>
            {% endif %}
        </div>
    </div>
</div>
