{% extends "admin/filer/change_form.html" %}
{% load i18n filer_admin_tags static %}

{# Restores filer's image preview / focal-point picker and the folder breadcrumb. #}

{% block header %}
    {% with filer_breadcrumb_object=original %}
        {% include "unfold_extra/filer/helpers/header.html" %}
    {% endwith %}
{% endblock %}

{% block extrahead %}{{ block.super }}
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script src="{% static 'filer/js/dist/filer-base.bundle.js' %}"></script>
{% endblock %}

{% block field_sets %}
    <div class="filer-detail-info border border-base-200 rounded-default p-4 mb-6 dark:border-base-700">
        {% include "admin/filer/tools/detail_info.html" %}
    </div>
    {{ block.super }}
{% endblock %}
