{% extends "admin/filer/base_site.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}

    <script src="{% static 'unfold_extra/filer/js/popup_host.js' %}"></script>
    <script type="text/javascript">
        (function () {
            if (window.opener && !window.opener.closed) {
                window.opener.dismissPopupAndReload(window);
                return;
            }

            if (window.unfoldExtraFilerModal()) {
                window.parent.location.reload();
            }
        })();
    </script>
{% endblock %}
